body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.menu-horizontal {
    text-align: center;
    background-color: #101010;
    padding: 20px;

}

.menu-horizontal a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 70px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    text-align: left;
}

.menu {
    font-size: 10px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    text-align: center;
}

.corintia {
    font-weight: bold;
    text-align: center;
}

.timao {
    text-align: center;
}

p {
    text-align: justify;
    padding: auto;
    font-size:17px;
    padding: 40px;
}

img {
    width: 700px;
    height: 400px;
}


h2 {
    text-align: center;
}

.rede {
    width: 500px;
    height: auto;
}

form textarea {
    width: calc(100% - 20px);

}

form button {
    background-color: rgb(227, 227, 227);
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}


form button:hover {
    background-color: rgb(76, 76, 76);
    color: white;
}

.redesDev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin, .github, .insta {
    width: 70px;
    height: auto;
    border-radius: 100%;
    margin: 0 10px;
    display: block;
}

.dev {
    padding: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.eu {
    width: 200px;
    height: auto;
    border-radius: 100%;
    margin: 0 10px;
    display: block;
    padding: 0;
}

.euPequeno {
    border-radius: 5%;
    padding: 0;
    width: 600px;
    height: auto;
}